/*Body Styles*/
body {
    background-color: #f3f3f3;
    font-family: 'Clear Sans', sans-serif;
    color: #1E3440;
    margin: 0;
}


/* Nav Styles. Source: https://www.w3schools.com/css/css_navbar.asp */
header{
    max-height : 96px;
}

nav { width :100% }

#logo{
    padding: 1% 0 0 1%;
    clear: both;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: bold;
    font-family: Arial;
}

li {
    padding-top: 50px;
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



/*Banner Styles*/
#banner.img{
    min-width: 100%;
}



/*Main Styles*/
main{
    width: 85%;
    margin: 0 auto;
}



/* Footer Styles */
.siteMap{
    padding-top: 2%;
}

.siteMap a { 
   text-decoration: none;
   color: #aaaaaa;
   padding: 0 20px;
   font-weight: bold;
 }

hr {
    width: 80%;
    height: 1px;
    border: 0;
    border-top: 2px solid #282828;
    padding: 0; 
}

footer {
    color: gray;
    text-align: center;
    bottom:0;
    width:100%;
    height:10%;   
    background: #313131;
    border-bottom: 15px solid #232323;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: times new roman;
}

input[type=submit] {
    width: 25%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkblue;
}

#newsletterFieldDiv {
    border-radius: 10px;
    background-color: lightgrey;
    padding: 20px;
    width: 500px;
    margin-bottom: 30px;
    clear: right;
}

#map{
    float: right;
    
}

th.contact{
    width: 40%;
    
}